@model School.Educ.adk.Areas.Admin.Models.Examen

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier l'examen</h1>

<hr />

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" asp-action="Edit" method="post" novalidate>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <span class="section">Info sur l'examen</span>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Description"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control has-feedback-left" asp-for="Description" />
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Periode"></label>
                        <div class="col-md-6 col-sm-6">
                            <select asp-for="Periode" class="form-control has-feedback-left" asp-items="Html.GetEnumSelectList<Periode>()">
                                <option value="">Selectionnez la période</option>
                            </select>
                            <span class="fa fa-institution form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="Periode" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Serie"></label>
                        <div class="col-md-6 col-sm-6">
                            <p>
                                Première A:
                                <input type="radio" class="flat" asp-for="Serie" id="genderM" value="A" checked="" required />
                                Deuxième B:
                                <input type="radio" class="flat" asp-for="Serie" id="genderF" value="B" />
                                Troisième C:
                                <input type="radio" class="flat" asp-for="Serie" id="genderM" value="C" checked="" required />
                                Quatrième D:
                                <input type="radio" class="flat" asp-for="Serie" id="genderF" value="D" />
                            </p>
                        </div>
                        <span asp-validation-for="Serie" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="CodeAcces"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control has-feedback-left" asp-for="CodeAcces" />
                            <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="CodeAcces" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="DateExamen"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" class='date' type="date" asp-for="DateExamen">
                        </div>
                        <span asp-validation-for="DateExamen" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Duree"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" class='date' type="time" asp-for="Duree">
                        </div>
                        <span asp-validation-for="Duree" class="text-danger"></span>
                    </div>


                    <div class="ln_solid">
                        <div class="form-group">
                            <br /><br />
                            <div class="col-md-6 offset-md-3 text-center">
                                <button type='submit' class="btn btn-primary">Enregistrer</button>
                                <button type='reset' class="btn btn-success">Recommencer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>