@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Accès refusé";
}


<link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Form_Login.css" />
<br />
<br />
<br />
<br />
<section class="get_in_touch_danger">
    <h1 class="title_red">Vous n'avez pas accès à la plateforme, il vous faut un droit pour y acceder !</h1>
    <section class="get_in_touch_lien">
        <div class="container text-center">
            <a class="btn btn-outline-primary text-center" asp-controller="Account" asp-action="Logout">Se deconnecter</a>
        </div>
    </section>
</section>