@{
    ViewData["Title"] = "Home Page";
}


<a asp-area="Inspection" asp-controller="Directeurs" asp-action="Index">Directeurs</a>
<a asp-area="Admin" asp-controller="Inspecteurs" asp-action="Index">Inspecteur</a>