@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Home Page";

}


<link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Form_Login.css" />
<section class="get_in_touch_">
    <section class="get_in_touch_lien">
        <div class="container text-center">
            <a asp-area="Admin" class="btn btn-outline-primary text-center" asp-controller="Inspecteurs" asp-action="Index">Administrateur</a>
        </div>
    </section>
    <section class="get_in_touch_lien">
        <div class="container text-center">
            <a class="btn btn-outline-primary text-center" asp-area="Inspection" asp-controller="Inspecteurs" asp-action="Details" asp-route-id="@Context.Session.GetString("identifiant")">Inspecteur</a>
        </div>
    </section>
    <section class="get_in_touch_lien">
        <div class="container text-center">
            <a asp-area="Ecole" class="btn btn-outline-primary text-center" asp-controller="Directeurs" asp-action="Details" asp-route-id="@Context.Session.GetString("identifiant")">Directeur</a>
        </div>
    </section>
    <section class="get_in_touch_lien">
        <div class="container text-center">
            <a asp-area="Professeur" class="btn btn-outline-primary text-center" asp-controller="Directeurs" asp-action="Details" asp-route-ID="@Context.Session.GetString("identifiant")">Professeur</a>
        </div>
    </section>
    <section class="get_in_touch_lien">
        <div class="container text-center">
            <a asp-area="Eleve" class="btn btn-outline-primary text-center" asp-controller="Directeurs" asp-action="Details" asp-route-ID="@Context.Session.GetString("identifiant")">Elève</a>
        </div>
    </section>
</section>