@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Page d'accueil";
}

<link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Form_Login.css" />
<br />
<br />
<br />
<br />
<section class="get_in_touch_danger">
    <section class="get_in_touch_lien">
        <div class="container text-center">
            <a class="btn btn-outline-primary text-center" asp-controller="Account" asp-action="Login">Se connecter</a>
        </div>
    </section>
</section>