@model School.Educ.adk.Areas.Inspection.Models.Evaluer

@{
    ViewData["Title"] = "Edit";
}

<h4>Evaluer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="LeconID" value="@ViewBag.LeconID" />

            <div class="text-center">
                <h6>La leçon</h6>
                <p>@ViewBag.Lecon</p>
            </div>

            <div class="form-group">
                <label asp-for="Cotation" class="control-label"></label>
                <input asp-for="Cotation" class="form-control" placeholder=" .../ 1 0" />
                <span asp-validation-for="Cotation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Remarque" class="control-label"></label>
                <input asp-for="Remarque" class="form-control" />
                <span asp-validation-for="Remarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
