@model string

<h1>Rôle</h1>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Rôle</h4>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" asp-action="Create" method="post" novalidate>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="section">Nouvueau</span>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align">Nom du rôle</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control has-feedback-left" name="name" />
                            <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    
                    <div class="ln_solid">
                        <br />
                        <div class="form-group text-center">
                            <div class="col-md-6 offset-md-3">
                                <button type='submit' class="btn btn-primary">Enregistrer</button>
                                <button type='reset' class="btn btn-success">Recommencer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>