@model School.Educ.adk.Areas.Inspection.Models.Reponse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reponse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="QuestionID" class="control-label"></label>
                <select asp-for="QuestionID" class="form-control" asp-items="ViewBag.QuestionID"></select>
                <span asp-validation-for="QuestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantID" class="control-label"></label>
                <select asp-for="ParticipantID" class="form-control" asp-items="ViewBag.ParticipantID"></select>
                <span asp-validation-for="ParticipantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReponseDonnee" class="control-label"></label>
                <input asp-for="ReponseDonnee" class="form-control" />
                <span asp-validation-for="ReponseDonnee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Point" class="control-label"></label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
