@model School.Educ.adk.Areas.Ecole.Models.Classe

@{
    ViewData["Title"] = "Modifier";

    List<SelectListItem> liste = new List<SelectListItem>();
    for (double i = 10; i >= 0; i--)
    {
        liste.Add(new SelectListItem
        {
            Text = (DateTime.Now.Year - (i + 1)).ToString() + " - " + (DateTime.Now.Year - i).ToString(),
            Value = (DateTime.Now.Year - (i + 1)).ToString() + " - " + (DateTime.Now.Year - i).ToString()
        });
    }
    for (double i = 0; i < 10; i++)
    {
        liste.Add(new SelectListItem
        {
            Text = (DateTime.Now.Year + i).ToString() + " - " + (DateTime.Now.Year + (i + 1)).ToString(),
            Value = (DateTime.Now.Year + i).ToString() + " - " + (DateTime.Now.Year + (i + 1)).ToString()
        });
    }
}

<h1>Modifier la classe</h1>

<hr />

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" asp-action="Edit" method="post" novalidate>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="section">Info sur la classe</span>

                    <input type="hidden" asp-for="ID" />

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Niveau"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control has-feedback-left" asp-for="Niveau" />
                            <span class="fa fa-info-circle form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="Niveau" class="text-danger"></span>
                    </div>
                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Section"></label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control has-feedback-left" asp-for="Section" asp-items="@ViewBag.Sections">
                                <option value="">Selectionner une section - option</option>
                            </select>
                            <span class="fa fa-bullseye form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="Section" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="AnneeScolaire"></label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control has-feedback-left" asp-for="AnneeScolaire" asp-items="@liste">
                                <option value="">Selectionner l'année scolaire</option>
                            </select>
                            <span class="fa fa-bullseye form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="AnneeScolaire" class="text-danger"></span>
                    </div>
                    <div class="ln_solid">
                        <div class="form-group">
                            <br /><br />
                            <div class="col-md-6 offset-md-3 text-center">
                                <button type='submit' class="btn btn-primary">Enregistrer</button>
                                <button type='reset' class="btn btn-success">Recommencer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

