@model School.Educ.adk.Areas.Admin.Models.Affectation

@{
    ViewData["Title"] = "Nouveau";
}

<h1>Nouvelle affectation</h1>

<hr />

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a asp-area="Admin" asp-controller="Inspecteurs" asp-action="Details" asp-route-id="@ViewBag.Inspecteur_ID" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" asp-action="Create" asp-route-ID="@ViewBag.InspecteurID" method="post" novalidate>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="IdEcole"></label>
                        <div class="col-md-6 col-sm-6">
                            <select asp-for="IdEcole" class="form-control has-feedback-left" asp-items="ViewBag.IdEcole">
                                <option value="">Selectionnez l'école</option>
                            </select>
                            <span class="fa fa-institution form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="IdEcole" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Description"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control has-feedback-left" asp-for="Description" />
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="PeriodeAffectectation"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control has-feedback-left" asp-for="PeriodeAffectectation" />
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="PeriodeAffectectation" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="DateAffectation" value="@System.DateTime.Now">

                    <div class="ln_solid">
                        <div class="form-group">
                            <br /><br />
                            <div class="col-md-6 offset-md-3 text-center">
                                <button type='submit' class="btn btn-primary">Enregistrer</button>
                                <button type='reset' class="btn btn-success">Recommencer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
