@model School.Educ.adk.Areas.Admin.Models.Affectation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Affectation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="EcoleID" class="control-label"></label>
                <select asp-for="EcoleID" class="form-control" asp-items="ViewBag.EcoleID"></select>
                <span asp-validation-for="EcoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspecteurID" class="control-label"></label>
                <select asp-for="InspecteurID" class="form-control" asp-items="ViewBag.InspecteurID"></select>
                <span asp-validation-for="InspecteurID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodeAffectectation" class="control-label"></label>
                <input asp-for="PeriodeAffectectation" class="form-control" />
                <span asp-validation-for="PeriodeAffectectation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAffectation" class="control-label"></label>
                <input asp-for="DateAffectation" class="form-control" />
                <span asp-validation-for="DateAffectation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

