@model School.Educ.adk.Areas.Ecole.Models.Cours

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier cours</h1>

<hr />

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="" asp-action="Edit" method="post" novalidate>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="section">Info sur le cours</span>

                    <input type="hidden" asp-for="ID" />

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="ClasseID"></label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control has-feedback-left" asp-for="ClasseID" asp-items="@ViewBag.ClasseID">
                                <option value="">Selectionner la classe</option>
                            </select>
                            <span class="fa fa-bullseye form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="ClasseID" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="ProfesseurID"></label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control has-feedback-left" asp-for="ProfesseurID" asp-items="@ViewBag.ProfesseurID">
                                <option value="">Selectionner le professeur</option>
                            </select>
                            <span class="fa fa-bullseye form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="ProfesseurID" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Intituler"></label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control has-feedback-left" asp-for="Intituler" />
                            <span class="fa fa-info-circle form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="Intituler" class="text-danger"></span>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="Categorie"></label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control has-feedback-left" asp-for="Categorie" asp-items="@ViewBag.Categorie">
                                <option value="">Selectionner la categorie</option>
                            </select>
                            <span class="fa fa-bullseye form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span asp-validation-for="Categorie" class="text-danger"></span>
                    </div>

                    <div class="ln_solid">
                        <div class="form-group">
                            <br /><br />
                            <div class="col-md-6 offset-md-3 text-center">
                                <button type='submit' class="btn btn-primary">Enregistrer</button>
                                <button type='reset' class="btn btn-success">Recommencer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
