@model School.Educ.adk.Areas.Ecole.Models.Cours

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Ecole" asp-controller="Cours" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ClasseID" class="control-label"></label>
                <select asp-for="ClasseID" class="form-control" asp-items="ViewBag.ClasseID"></select>
                <span asp-validation-for="ClasseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intituler" class="control-label"></label>
                <input asp-for="Intituler" class="form-control" />
                <span asp-validation-for="Intituler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Ecole" asp-controller="Cours" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
