@model School.Educ.adk.Areas.Ecole.Models.Lecon

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Text areas<small>Sessions</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form class="" asp-action="Create" method="post" novalidate>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="field item form-group">
                    <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="CoursID"></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="form-control has-feedback-left" asp-for="CoursID" asp-items="@ViewBag.CoursID">
                            <option value="">Selectionner le cours</option>
                        </select>
                        <span class="fa fa-bullseye form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <span asp-validation-for="CoursID" class="text-danger"></span>
                </div>

                <div class="field item form-group">
                    <label class="col-form-label col-md-3 col-sm-3  label-align" asp-for="DateLecon"></label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" class='date' type="date" asp-for="DateLecon">
                    </div>
                    <span asp-validation-for="DateLecon" class="text-danger"></span>
                </div>

                <div class="form-group field item">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="LeconDonnee"></label>
                    <div class="col-md-6 col-sm-9 ">
                        <textarea class="resizable_textarea form-control" asp-for="LeconDonnee"></textarea>
                    </div>
                </div>

                <br />
                <div class="ln_solid">
                    <div class="form-group">
                        <br /><br />
                        <div class="col-md-6 offset-md-3 text-center">
                            <button type='submit' class="btn btn-primary">Enregistrer</button>
                            <button type='reset' class="btn btn-success">Recommencer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>